In [2]:
import pandas as pd
import json

In [3]:
data = pd.read_csv("datasets.csv")
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,5/4/2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,6/4/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,7/4/2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,8/4/2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,8/4/2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [5]:
data[data.city.isnull()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
461,462,2014,NaN,19/04/14,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary,NaN
462,463,2014,NaN,19/04/14,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
466,467,2014,NaN,23/04/14,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth,NaN
468,469,2014,NaN,25/04/14,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
469,470,2014,NaN,25/04/14,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
474,475,2014,NaN,28/04/14,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi,NaN
476,477,2014,NaN,30/04/14,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

In [6]:
data.dl_applied.value_counts()

0    620
1     16
Name: dl_applied, dtype: int64

## date correction

In [7]:
d = "5/4/17"
(len(d.split("/")[2]))

2

In [8]:
#correct('13/14/17')

In [9]:
g = d.split("/")
"".join(x+"/" for x in g)[:-1]

'5/4/17'

In [10]:
def correct1(mdate):
    sdate = str(mdate).split("/")
    fig = len(sdate[2])
    if int(sdate[1])<12:
        if fig == 2:
            year = "20"+sdate[2]
            mnth = str(sdate[1])
            dte = str(sdate[0])
            sdate = dte+"/"+mnth+"/"+year
            return sdate
        else:
            return mdate
    return mdate

In [11]:
data.date = data.date.apply(correct1)

In [12]:
seasondb = []
seasons = data.season.unique()
for season in seasons:
    seasondb.append(data[data.season==season])

In [13]:
jsondb ={}
for data_8 in seasondb:
    season = data_8.season.unique()[0]
    jsonobj = {}
    try:
        dl_meth = data_8.dl_applied.value_counts()[1]
    except:
        dl_meth = 0
    try:
        draw = data_8[data_8.result!="normal"].shape[0]
    except:
        draw = 0
    
    win = data_8.winner.value_counts()
    matches = win.max()
    team = win[win==win.max()].index.values[0]
    
    prob_vec =  (data_8.toss_winner == data_8.winner).apply(lambda x: 0 if x  else 1)
    prob_syn = prob_vec.value_counts()
    p_win = prob_syn[1]/sum(prob_syn)
    p_lose = prob_syn[0]/sum(prob_syn)

    max_pom = data_8.player_of_match.value_counts()
    max_pom = max_pom[max_pom==max_pom.max()].index.values[0]

    A = (data_8.umpire1.value_counts())
    B = (data_8.umpire2.value_counts())
    C_index=[]
    C_num=[]
    C_index.extend(A.index.values)
    C_index.extend(B.index.values)
    C_num.extend(A.values)
    C_num.extend(B.values)
    umpire_dat = pd.DataFrame({"UName":C_index,"matches":C_num})
    unames = umpire_dat.UName.unique()
    dcount = []
    for name in unames:
        mcount = umpire_dat[umpire_dat.UName==name]
        dcount.append(mcount.matches.values.sum())

    unq_umpire_dat = pd.DataFrame({"UName":unames,"matches":dcount})
    unq_umpire_dat = unq_umpire_dat.sort_values("matches",ascending=False).reset_index(drop=True)
    luname = unq_umpire_dat[unq_umpire_dat.matches == unq_umpire_dat.matches.max()].UName.values

    jsonobj["temp"] = str(dl_meth)
    jsonobj["draw"] = str(draw)
    jsonobj["winner"]={"team":str(team),"matches":str(matches)}
    jsonobj["win_af_toss"]={"win":str(round(p_win,2)),"lose":str(round(p_lose,2))}
    jsonobj["max_umpired"]=luname.tolist()
    jsonobj["max_pom"]=max_pom
    

    print("Effect of temp was on {} matches in {}".format(dl_meth,season))
    print("Number of draws in {} season matches were {} ".format(season,draw))
    print("Winner of season {} was {} by winning {} matches".format(season,team,matches))
    print("Probablity of winning match after winning toss is {}".format(round(p_win,2)))
    print("Probablity of losing match after winning toss is {}".format(round(p_lose,2))) 
    print("The maximum number of matches are umpired by {}".format(luname))  
    print("Max times player of match of season {} was {}".format(season,max_pom))
    jsondb[str(season)] = jsonobj

Effect of temp was on 1 matches in 2017
Number of draws in 2017 season matches were 1
Winner of season 2017 was Mumbai Indians by winning 12 matches
Probablity of winning match after winning toss is 0.42
Probablity of losing match after winning toss is 0.58
The maximum number of matches are umpired by ['Nitin Menon' 'S Ravi']
Max times player of match of season 2017 was NM Coulter-Nile
Effect of temp was on 2 matches in 2008
Number of draws in 2008 season matches were 0
Winner of season 2008 was Rajasthan Royals by winning 13 matches
Probablity of winning match after winning toss is 0.52
Probablity of losing match after winning toss is 0.48
The maximum number of matches are umpired by ['BF Bowden' 'RE Koertzen']
Max times player of match of season 2008 was SE Marsh
Effect of temp was on 3 matches in 2009
Number of draws in 2009 season matches were 1
Winner of season 2009 was Delhi Daredevils by winning 10 matches
Probablity of winning match after winning toss is 0.42
Probablity of losing match after winning toss is 0.58
The maximum number of matches are umpired by ['BR Doctrove']
Max times player of match of season 2009 was YK Pathan
Effect of temp was on 0 matches in 2010
Number of draws in 2010 season matches were 1
Winner of season 2010 was Mumbai Indians by winning 11 matches
Probablity of winning match after winning toss is 0.48
Probablity of losing match after winning toss is 0.52
The maximum number of matches are umpired by ['RE Koertzen']
Max times player of match of season 2010 was SR Tendulkar
Effect of temp was on 3 matches in 2011
Number of draws in 2011 season matches were 1
Winner of season 2011 was Chennai Super Kings by winning 11 matches
Probablity of winning match after winning toss is 0.48
Probablity of losing match after winning toss is 0.52
The maximum number of matches are umpired by ['Asad Rauf']
Max times player of match of season 2011 was CH Gayle
Effect of temp was on 0 matches in 2012
Number of draws in 2012 season matches were 0
Winner of season 2012 was Kolkata Knight Riders by winning 12 matches
Probablity of winning match after winning toss is 0.55
Probablity of losing match after winning toss is 0.45
The maximum number of matches are umpired by ['BF Bowden']
Max times player of match of season 2012 was CH Gayle
Effect of temp was on 0 matches in 2013
Number of draws in 2013 season matches were 2
Winner of season 2013 was Mumbai Indians by winning 13 matches
Probablity of winning match after winning toss is 0.53
Probablity of losing match after winning toss is 0.47
The maximum number of matches are umpired by ['Asad Rauf' 'S Ravi']
Max times player of match of season 2013 was MEK Hussey
Effect of temp was on 1 matches in 2014
Number of draws in 2014 season matches were 1
Winner of season 2014 was Kings XI Punjab by winning 12 matches
Probablity of winning match after winning toss is 0.5
Probablity of losing match after winning toss is 0.5
The maximum number of matches are umpired by ['HDPK Dharmasena']
Max times player of match of season 2014 was GJ Maxwell
Effect of temp was on 2 matches in 2015
Number of draws in 2015 season matches were 3
Winner of season 2015 was Chennai Super Kings by winning 10 matches
Probablity of winning match after winning toss is 0.53
Probablity of losing match after winning toss is 0.47
The maximum number of matches are umpired by ['AK Chaudhary' 'RK Illingworth']
Max times player of match of season 2015 was DA Warner
Effect of temp was on 4 matches in 2016
Number of draws in 2016 season matches were 0
Winner of season 2016 was Sunrisers Hyderabad by winning 11 matches
Probablity of winning match after winning toss is 0.43
Probablity of losing match after winning toss is 0.57
The maximum number of matches are umpired by ['HDPK Dharmasena']
Max times player of match of season 2016 was V Kohli

In [14]:
jsondb.keys

In [15]:
with open("season-high.json","w") as sfile:
    json.dump({"seasoninfo":jsondb},sfile)

In [16]:
data_8 = data[data.season==2010]
data_8.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
174,175,2010,Mumbai,12/3/2010,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,field,normal,0,Kolkata Knight Riders,11,0,AD Mathews,Dr DY Patil Sports Academy,RE Koertzen,RB Tiffin,NaN
175,176,2010,Mumbai,13/03/2010,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,normal,0,Mumbai Indians,4,0,YK Pathan,Brabourne Stadium,RE Koertzen,RB Tiffin,NaN
176,177,2010,Chandigarh,13/03/2010,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,field,normal,0,Delhi Daredevils,0,5,G Gambhir,"Punjab Cricket Association Stadium, Mohali",BR Doctrove,S Ravi,NaN
177,178,2010,Kolkata,14/03/2010,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,MK Tiwary,Eden Gardens,HDPK Dharmasena,AM Saheba,NaN
178,179,2010,Chennai,14/03/2010,Deccan Chargers,Chennai Super Kings,Deccan Chargers,bat,normal,0,Deccan Chargers,31,0,WPUJC Vaas,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,NaN

In [17]:
data_8.dl_applied.value_counts()

0    60
Name: dl_applied, dtype: int64

In [19]:
data_8[data_8.result!="normal"].shape[0]

1

In [20]:
data[data.winner.isnull()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,21/05/2011,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,29/04/2015,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,17/05/2015,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN

In [21]:
data.groupby('season')

In [22]:
d1 = data.groupby('team1').count().id
d2 = data.groupby('team2').count().id
d3 = data.groupby('winner').count().id
d1=d1+d2
d4=d1-d3

d_total = d1.to_json(orient="index").replace("{","").replace("}","").split(",")
#d_total
d_win = d3.to_json(orient="index").replace("{","").replace("}","").split(",")
#d_win
d_loose = d4.to_json(orient="index").replace("{","").replace("}","").split(",")
#d_loose

print(d_total, d_win, d_loose)

['"Chennai Super Kings":131', '"Deccan Chargers":75', '"Delhi Daredevils":147', '"Gujarat Lions":30', '"Kings XI Punjab":148', '"Kochi Tuskers Kerala":14', '"Kolkata Knight Riders":148', '"Mumbai Indians":157', '"Pune Warriors":46', '"Rajasthan Royals":118', '"Rising Pune Supergiant":16', '"Rising Pune Supergiants":14', '"Royal Challengers Bangalore":152', '"Sunrisers Hyderabad":76'] ['"Chennai Super Kings":79', '"Deccan Chargers":29', '"Delhi Daredevils":62', '"Gujarat Lions":13', '"Kings XI Punjab":70', '"Kochi Tuskers Kerala":6', '"Kolkata Knight Riders":77', '"Mumbai Indians":92', '"Pune Warriors":12', '"Rajasthan Royals":63', '"Rising Pune Supergiant":10', '"Rising Pune Supergiants":5', '"Royal Challengers Bangalore":73', '"Sunrisers Hyderabad":42'] ['"Chennai Super Kings":52', '"Deccan Chargers":46', '"Delhi Daredevils":85', '"Gujarat Lions":17', '"Kings XI Punjab":78', '"Kochi Tuskers Kerala":8', '"Kolkata Knight Riders":71', '"Mumbai Indians":65', '"Pune Warriors":34', '"Rajasthan Royals":55', '"Rising Pune Supergiant":6', '"Rising Pune Supergiants":9', '"Royal Challengers Bangalore":79', '"Sunrisers Hyderabad":34']

In [23]:
j=[]
for x,y,z in zip(d_win,d_total,d_loose):
    obj={}
    temp1= x.split(":")
    temp2= y.split(":")
    temp3= z.split(":")
    obj['team'] = temp1[0].replace('"','')
    obj['matches'] = temp2[1]
    obj['wins'] = temp1[1]
    obj['lost'] = temp3[1]
    j.append(obj)

In [24]:
print(j)

[{'team': 'Chennai Super Kings', 'matches': '131', 'wins': '79', 'lost': '52'}, {'team': 'Deccan Chargers', 'matches': '75', 'wins': '29', 'lost': '46'}, {'team': 'Delhi Daredevils', 'matches': '147', 'wins': '62', 'lost': '85'}, {'team': 'Gujarat Lions', 'matches': '30', 'wins': '13', 'lost': '17'}, {'team': 'Kings XI Punjab', 'matches': '148', 'wins': '70', 'lost': '78'}, {'team': 'Kochi Tuskers Kerala', 'matches': '14', 'wins': '6', 'lost': '8'}, {'team': 'Kolkata Knight Riders', 'matches': '148', 'wins': '77', 'lost': '71'}, {'team': 'Mumbai Indians', 'matches': '157', 'wins': '92', 'lost': '65'}, {'team': 'Pune Warriors', 'matches': '46', 'wins': '12', 'lost': '34'}, {'team': 'Rajasthan Royals', 'matches': '118', 'wins': '63', 'lost': '55'}, {'team': 'Rising Pune Supergiant', 'matches': '16', 'wins': '10', 'lost': '6'}, {'team': 'Rising Pune Supergiants', 'matches': '14', 'wins': '5', 'lost': '9'}, {'team': 'Royal Challengers Bangalore', 'matches': '152', 'wins': '73', 'lost': '79'}, {'team': 'Sunrisers Hyderabad', 'matches': '76', 'wins': '42', 'lost': '34'}]

In [25]:
with open("team_card.json","w") as sfile:
    json.dump({'stats': j},sfile)

In [26]:

data.groupby('venue').count().id

venue
Barabati Stadium                                         7
Brabourne Stadium                                       11
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Dr DY Patil Sports Academy                              17
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Dubai International Cricket Stadium                      7
Eden Gardens                                            61
Feroz Shah Kotla                                        60
Green Park                                               4
Himachal Pradesh Cricket Association Stadium             9
Holkar Cricket Stadium                                   5
JSCA International Stadium Complex                       7
Kingsmead                                               15
M Chinnaswamy Stadium                                   66
MA Chidambaram Stadium, Chepauk                         48
Maharashtra Cricket Association Stadium                 15
Nehru Stadium                                            5
New Wanderers Stadium                                    8
Newlands                                                 7
OUTsurance Oval                                          2
Punjab Cricket Association IS Bindra Stadium, Mohali    11
Punjab Cricket Association Stadium, Mohali              35
Rajiv Gandhi International Stadium, Uppal               49
Sardar Patel Stadium, Motera                            12
Saurashtra Cricket Association Stadium                  10
Sawai Mansingh Stadium                                  33
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Sheikh Zayed Stadium                                     7
St George's Park                                         7
Subrata Roy Sahara Stadium                              17
SuperSport Park                                         12
Vidarbha Cricket Association Stadium, Jamtha             3
Wankhede Stadium                                        57
Name: id, dtype: int64

In [27]:
print("Number of draws in {} season matches were {} ".format(data_8.season.unique()[0],data_8[data_8.result!="normal"].shape[0]))

Number of draws in 2010 season matches were 1

In [28]:
win = data_8.winner.value_counts()
matches = win.max()
teams = win[win==win.max()].index.values

In [29]:
print("Winner of season {} was {} by winning {} matches".format(data_8.season.unique()[0],teams,matches))

Winner of season 2010 was ['Mumbai Indians'] by winning 11 matches

In [30]:
max_pom = data_8.player_of_match.value_counts()
max_pom = max_pom[max_pom==max_pom.max()].index.values[0]

In [31]:
print("Max times player of match of season {} was {}".format(data_8.season.unique()[0],max_pom))

Max times player of match of season 2010 was SR Tendulkar

In [32]:
prob_vec =  (data_8.toss_winner == data_8.winner).apply(lambda x: 0 if x  else 1)
prob_syn = prob_vec.value_counts()
p_win = prob_syn[1]/sum(prob_syn)
p_lose = prob_syn[0]/sum(prob_syn)

In [33]:
prob_syn

0    31
1    29
dtype: int64

In [34]:
print("Probablity of winning match after winning toss is {}".format(round(p_win,2)))
print("Probablity of losing match after winning toss is {}".format(round(p_lose,2)))

Probablity of winning match after winning toss is 0.48
Probablity of losing match after winning toss is 0.52

In [35]:
print("The player of the match is won by {} maximum number of times".format(data_8.player_of_match.value_counts().index.values[0]))

The player of the match is won by SR Tendulkar maximum number of times

In [36]:
A = (data_8.umpire1.value_counts())
B = (data_8.umpire2.value_counts())

In [37]:
C_index=[]
C_num=[]
C_index.extend(A.index.values)
C_index.extend(B.index.values)
C_num.extend(A.values)
C_num.extend(B.values)

In [38]:
umpire_dat = pd.DataFrame({"UName":C_index,"matches":C_num})
umpire_dat.head()

             UName  matches
0      BR Doctrove       12
1  HDPK Dharmasena        9
2      RE Koertzen        8
3        BF Bowden        7
4       BG Jerling        6

In [39]:
unames = umpire_dat.UName.unique()
dcount = []
for name in unames:
    mcount = umpire_dat[umpire_dat.UName==name]
    dcount.append(mcount.matches.values.sum())

unq_umpire_dat = pd.DataFrame({"UName":unames,"matches":dcount})
unq_umpire_dat = unq_umpire_dat.sort_values("matches",ascending=False).reset_index(drop=True)
unq_umpire_dat.head()

             UName  matches
0      RE Koertzen       13
1      BR Doctrove       12
2       SJA Taufel       11
3        DJ Harper       10
4  HDPK Dharmasena        9

In [40]:
luname = unq_umpire_dat[unq_umpire_dat.matches == unq_umpire_dat.matches.max()].UName.values
"".join(x+", " for x in luname)

'RE Koertzen, '

In [41]:
print("The maximum number of matches are umpired by {}".format(luname))

The maximum number of matches are umpired by ['RE Koertzen']

In [42]:
p=[]
q=[]
for x in data.date.unique():
    p.append(int(x.split("/")[0]))
    d = int(x.split("/")[1])
    if d>12:
        print(x)
    q.append(d)
set(q)

{3, 4, 5, 6}

In [43]:
db ={}
for x in data.date.values:
    d = x.split("/")[0]
    h = []
    try:
        f = db[d]
        f.append(x)
        db[d] = f
    except:
        h.append(x)
        db[d] = h

In [44]:
with open("getdate.json","w") as sfile:
    json.dump({"datedb":db},sfile)

In [45]:
ndata = pd.DataFrame([data.date.values,data.team1.values,data.team2.values,data.winner.values]).transpose()

In [46]:
ndata.columns=["date","team1","team2","winner"]

In [47]:
ndata.shape

(636, 4)

In [48]:
ndata = ndata.drop_duplicates(["date"])
ndata.shape

(450, 4)

In [49]:
ndata.head()

,date,team1,team2,winner
0,5/4/2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
1,6/4/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
2,7/4/2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders
3,8/4/2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab
5,9/4/2017,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad

In [50]:
x

'29/05/2016'

In [51]:
teamdb={}
for x in ndata.values:
    teamdb[x[0]]={"team1":x[1],"team2":x[2],"winner":x[3],}

In [52]:
with open("gethistory.json","w") as sfile:
    json.dump({"histdb":teamdb},sfile)